body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #1b1e1f;
}
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background: linear-gradient(135deg, #764ba2, #3498db);
    height: 3.5em;
}
nav{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 1em;
}
nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
}
li a {
    text-decoration: none;
    color: #f4f4f4;
    font-weight: bold;
    transition: all 0.3s;
    padding: 1em 0.5em;
    border-radius: 10px !important;
}
li a:hover {
    background-color: rgba(0, 0, 0, 0.281);
    color: #926bba;
}
.logo a{
    font-size: 1.4em;
    color: #f4f4f4;
    font-weight: 700;
    transition: all 0.3s;
    text-decoration: none #3498db;
}
.logo a:hover {
    text-decoration: underline #926bba;
}
.logo {
    padding-left: 1em;
    display: flex;
    align-items: center;
    gap: 10px;
}
.logo img {
    width: 3em;
    height: 3em;
}

.main {
    display: flex;
    margin: 2em 8em;
    flex-direction: column;
    color: #f4f4f4;
}

section {
    border-radius: 15px;
    padding: 1em 2em;
    background-color: rgb(37 36 36 / 26%);
    box-shadow: 4px 4px 9px 3px rgba(0, 0, 0, 0.2);
    margin: 1em 0;
}

h1 {
    margin: 1em 0 0 0;
    color: rgb(103, 160, 234);
    font-size: 2em;
}

h2 {
    margin: 1em 0 0.5em 0;
    color: rgb(103, 160, 234);
}

h3 {
    color: #B1D9FB;
}

button {
    margin: 0;
    padding: 0.8em 1.2em;
    border: none;
    background: linear-gradient(135deg, #764ba2, #3498db);
    border-radius: 8px;
    font-size: 0.9em;
}

hr {
    border: 1px solid rgb(19, 40, 136);
}

pre {
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 1em 2em;
}

code {
    font-family: ubuntu-mono, monospace;
}

.copy-btn {
    position: absolute;
    top: 1em;
    right: 1em;
    padding: 0.6em 0.8em;
    font-size: 14px;
    cursor: pointer;
    border: 1px solid rgba(71, 71, 71, 0.5);
    background: rgba(0, 0, 0, 0.6);
    color: white;
    border-radius: 4px;
}

.copy-btn i {
    pointer-events: none;
}

.code-container {
    position: relative;
}

footer{
    display: flex;
    justify-content: center;  
    background-color: #202324;
    color: #f4f4f4;
}
footer a {
    color: #3498db;
    text-decoration: none;
    transition: all 0.3s;
}
footer a:hover {
    text-decoration: underline;
    color: #926bba;
}
.footer-content {
    padding: 2em;
    text-align: center;
}
.footer-content p {
    margin: 0;
}